<?xml version="1.0" encoding="UTF-8"?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">

    <jsp:directive.page contentType="text/html" pageEncoding="UTF-8"/>
    
    <!-- Uso de Declaraciones -->
    
    <jsp:declaration>
       private int contadorVisitas = 1; 
    </jsp:declaration>

    <html>
        <body>
            <h1>Ejemplo de un documento JSPx</h1>
            <!-- Ejempo de salida de texto -->
            <jsp:text>Saludos desde un documento JSPx</jsp:text>
            <br/>
            <!-- ejemplo de expresión con JSPx -->
            <jsp:expression>2 *3 </jsp:expression>
            <!--Ejemplo de Scriptlet -->
            <jsp:scriptlet>
                String nombreAplicacion = request.getContextPath();
            </jsp:scriptlet>
            Nombre de la aplicación: <jsp:expression>nombreAplicacion</jsp:expression>
            <br/>
            Contador de Visitas:
            <jsp:expression>this.contadorVisitas++</jsp:expression>
        </body>
    </html>
</jsp:root>
